@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model.Value("pageTitle");

	bool.TryParse(ViewData["error_name"]?.ToString()!, out bool error_name);
	bool.TryParse(ViewData["error_email"]?.ToString()!, out bool error_email);
	bool.TryParse(ViewData["error_phone"]?.ToString()!, out bool error_phone);

}

<div class="container">
	<h1>@ViewBag.Title</h1>

	<div class="container">

		@if (TempData["success"] != null)
		{
			<div class="success-message">@TempData["success"]</div>
		}
		else
		{
			@using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
			{
				<div class="form-input-group">
					<label class="form-label" for="name">Name</label>
					<input id="name" name="name" type="text" placeholder="Name" class="form-input" value="@ViewData["name"]">
					<span class="form-input-error @((error_name) ? "form-invalid-input" : null)">You must enter your name</span>
				</div>

				<div class="form-input-group">
					<label class="form-label" for="email">E-mail address</label>
					<input id="email" name="email" type="email" placeholder="E-mail address" class="form-input" value="@ViewData["email"]">
					<span class="form-input-error @((error_email) ? "form-invalid-input" : null)">You must enter an valid e-mail address</span>
				</div>

				<div class="form-input-group">
					<label class="form-label" for="phone">Phone</label>
					<input id="phone" name="phone" type="text" placeholder="Phone" class="form-input" value="@ViewData["phone"]">
					<span class="form-input-error @((error_phone) ? "form-invalid-input" : null)">You must enter an valid phone number</span>
				</div>

				<button type="submit" class="form-button_btn-submit">SEND</button>
			}
		}

	</div>
</div>